﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laptop Đức Minh - Uy tín là sức mạnh</title>
    <link rel="shortcut icon" type="image/ico" href="~/assets/images/customs/ducminhstore_logo.svg">
    <!-- Preloader CSS-->
    <style>
        #preloader:after, #preloader:before {
            content: "";
            display: block;
            left: -1px;
            top: -1px
        }

        #preloader-overlayer, #preloader:after, #preloader:before {
            position: absolute;
            height: 100%;
            width: 100%
        }

        #preloader-overlayer {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #112E3B;
            z-index: 999
        }

        #preloader {
            height: 40px;
            width: 40px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -20px;
            z-index: 9999
        }

            #preloader:before {
                -webkit-animation: rotation 1s linear infinite;
                animation: rotation 1s linear infinite;
                border: 2px solid #42DB0C;
                border-top: 2px solid transparent;
                border-radius: 100%
            }

            #preloader:after {
                border: 1px solid rgba(255,255,255,.1);
                border-radius: 100%
            }

        @@media only screen and (min-width:768px) {
            #preloader {
                height: 60px;
                width: 60px;
                margin-top: -30px;
                margin-left: -30px
            }

                #preloader:before {
                    left: -2px;
                    top: -2px;
                    border-width: 2px
                }
        }

        @@media only screen and (min-width:1200px) {
            #preloader {
                height: 80px;
                width: 80px;
                margin-top: -40px;
                margin-left: -40px
            }
        }

        @@-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0);
                transform: rotate(0)
            }

            to {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg)
            }
        }

        @@keyframes rotation {
            from {
                -webkit-transform: rotate(0);
                transform: rotate(0)
            }

            to {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg)
            }
        }
    </style>

    <!--
    All CSS Codes Loaded
    Ex: bootstrap, fontawesome, style, etc.
    -->
    <link rel="stylesheet" href="~/assets/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/libs/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/libs/linearicons/linearicons.css">
    <link rel="stylesheet" href="~/assets/css/rentnow-icons.css">
    <link rel="stylesheet" href="~/assets/libs/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css"> 
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- Google Map JS-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKPzJTNkmBcVIoPmrsa61on9lcMoFhJsY"></script>
</head>
<body class="rn-preloader">
    <div id="preloader"></div>
    <div id="preloader-overlayer"></div>

    <!-- Header-->
    <header class="rn-header">

        <!-- Topbar-->
        <div class="rn-topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-5 col-lg-3">

                        <!-- Tobar Social-->
                        <ul class="rn-social">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-12 col-sm-7 col-lg-9">

                        <!-- Topbar Contact with Icon-->
                        <div class="rn-icon-contents">
                            <div class="rn-phone rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-phone"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li></li>
                                        <li>(+84)-032-8989-333</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rn-email rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-envelope"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>support@example.coms</li>
                                        <li>sale@example.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="rn-address rn-icon-content">
                                <div class="rn-icon">
                                    <i class="lnr lnr-map-marker"></i>
                                </div>
                                <div class="rn-info">
                                    <ul>
                                        <li>144 Triều Khúc</li>
                                        <li>Thanh Xuân – Hà Nội</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar-->
        <!-- Menubar-->
        <div class="rn-menubar" style="margin-top: -15px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <!-- Logo-->
                        <a class="brand-name" href="/Home/Index">
                            <img class="img-fluid" src="~/assets/images/customs/ducminhstore_logo_full.svg" alt="Logo" style="width: 50%;">
                        </a>
                    </div>
                    <div class="col-8" style="margin-top: -60px;">
                        <nav class="rn-navbar-container">

                            <!-- Navbar Toggle Button for Only Tablet and Phone-->
                            <button class="rn-navbar-toggler" id="rn-navbar-toggler">
                                <span class="rn-navbar-toggler-bar"></span>
                                <span class="rn-navbar-toggler-bar"></span>
                                <span class="rn-navbar-toggler-bar"></span>
                            </button>

                            <!-- Main Nav Menu-->
                            <ul class="rn-navbar">
                                <li class="active">
                                    <a href="/Home/Index">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#">
                                        Các dòng máy
                                        <i class="lnr lnr-chevron-down"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/Product/ProductsList">Các dòng máy</a>
                                        </li>
                                        <li>
                                            <a href="/Product/ProductsList">Công việc văn phòng</a>
                                        </li>
                                        <li>
                                            <a href="/Product/ProductsList">Thiết kế đồ họa</a>
                                        </li>
                                        <li>
                                            <a href="/Product/ProductsList">Chơi game - Giải trí</a>
                                        </li>
                                        <li>
                                            <a href="/Product/ProductsList">Lập trình</a>
                                        </li>
                                        <li>
                                            <a href="/Product/ProductsList">Mua tặng bố mẹ</a>
                                        </li>
                                        <li>
                                            <a href="/Product/ProductsList">Học tập từ xa</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Home/Cart">
                                        Giỏ hàng
                                    </a>
                                </li>

                                <li>
                                    <a href="/Home/News">
                                        Tin tức
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Service">Dịch vụ</a>
                                </li>

                                <li>
                                    <a href="/Home/Contact">Liên hệ</a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menubar-->

    </header>
    <!-- End Header-->

    @RenderBody()

    <!-- Site Footer-->
    <footer class="rn-footer">

        <!-- Footer Widgets-->
        <div class="rn-footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Về chúng tôi</h2>
                            <div class="rn-widget-content">
                                <a class="brand-name" href="/Home/Contact">
                                    <img src="~/assets/images/customs/ducminhstore_logo_full.svg" alt="Logo" style="width:50%" />
                                </a>
                                <p>Chúng tôi cung cấp các dòng laptop chất lượng với giá cả phải chăng...</p>
                                <ul class="rn-widget-social">
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                    </div>
                    <div class="col-md-5">

                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Liên kết nhanh</h2>
                            <div class="rn-widget-content">
                                <div class="row rn-quick-links">
                                    <div class="col-6">
                                        <ul>
                                            <li>
                                                <a href="#">About Us</a>
                                            </li>
                                            <li>
                                                <a href="#">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="#">Support</a>
                                            </li>
                                            <li>
                                                <a href="#">View Booking</a>
                                            </li>
                                            <li>
                                                <a href="#">Affiliate Programme</a>
                                            </li>
                                            <li>
                                                <a href="#">Marketplace</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li>
                                                <a href="#">Site Map</a>
                                            </li>
                                            <li>
                                                <a href="#">Careers</a>
                                            </li>
                                            <li>
                                                <a href="#">Press</a>
                                            </li>
                                            <li>
                                                <a href="#">Get a Receipt</a>
                                            </li>
                                            <li>
                                                <a href="#">Community</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                    </div>
                    <div class="col-md-3">

                        <!-- Widget Item-->
                        <section class="rn-widget">
                            <h2 class="rn-widget-title">Liên hệ ngay</h2>
                            <div class="rn-widget-content">
                                <div class="rn-icon-contents">
                                    <div class="rn-phone rn-icon-content">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-phone"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li></li>
                                                <li>
                                                    (+84)-032-8989-333
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rn-email rn-icon-content">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-envelope"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li>support@example.coms</li>
                                                <li>sale@example.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="rn-address rn-icon-content">
                                        <div class="rn-icon">
                                            <i class="lnr lnr-map-marker"></i>
                                        </div>
                                        <div class="rn-info">
                                            <ul>
                                                <li>
                                                    144 Triều Khúc
                                                </li>
                                                <li>
                                                    Thanh Xuân – Hà Nội
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- End Widget Item-->

                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Widgets-->
        <!-- Footer Copyright-->
        <div class="rn-footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p>Copyright &copy; HD @DateTime.Now.Year. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <span class="rn-pyament-methods">
                            <span>Thanh toán linh hoạt</span>
                            <img src="~/assets/images/payments.png" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Copyright-->

    </footer>
    <!-- End Site Footer-->
    <!--
    All JavaScripts Codes Loaded
    Ex: jquery, bootstrap, etc.
    -->
    <script src="~/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/js/starrr.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>
</body>
</html>