﻿<!-- Page Title-->
    <div class="rn-page-title" id="rn-page-service">
        <div class="rn-pt-overlayer"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rn-page-title-inner">
                        <h1>Service</h1>
                        <p>Cras eros lorem, rhoncus ac risus sit amet, fringilla ultrices purus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Page Title-->
<!-- What We Offer-->
<section class="rn-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title   ">
                    <h2 class="rn-title">What We Offer</h2>
                    <p>Inbecilloque elegans errorem concedo etsi electram.</p>
                    <span class="rn-title-bg">What We Offer</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-star"></i>
                    </div>
                    <div class="rn-service-title">Best Price Guarantee</div>
                    <div class="rn-service-desc">
                        <p>Fusce blandit at tortor vitae ultricies. Praesent efficitur feugiat leo id tempus. Sed pulvinar gravida sodales.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-phone-handset"></i>
                    </div>
                    <div class="rn-service-title">Phone Reservation</div>
                    <div class="rn-service-desc">
                        <p>Fusce blandit at tortor vitae ultricies. Praesent efficitur feugiat leo id tempus. Sed pulvinar gravida sodales.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-user"></i>
                    </div>
                    <div class="rn-service-title">Personal Driver</div>
                    <div class="rn-service-desc">
                        <p>Fusce blandit at tortor vitae ultricies. Praesent efficitur feugiat leo id tempus. Sed pulvinar gravida sodales.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-car"></i>
                    </div>
                    <div class="rn-service-title">Best Quality Cars</div>
                    <div class="rn-service-desc">
                        <p>Fusce blandit at tortor vitae ultricies. Praesent efficitur feugiat leo id tempus. Sed pulvinar gravida sodales.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-calendar-full"></i>
                    </div>
                    <div class="rn-service-title">Reservation Anytime</div>
                    <div class="rn-service-desc">
                        <p>Fusce blandit at tortor vitae ultricies. Praesent efficitur feugiat leo id tempus. Sed pulvinar gravida sodales.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Service Item-->
                <div class="rn-service-item">
                    <div class="rn-service-icon">
                        <i class="lnr lnr-rocket"></i>
                    </div>
                    <div class="rn-service-title">Customer Support</div>
                    <div class="rn-service-desc">
                        <p>Fusce blandit at tortor vitae ultricies. Praesent efficitur feugiat leo id tempus. Sed pulvinar gravida sodales.</p>
                    </div>
                </div>
                <!-- End Service Item-->

            </div>
        </div>
    </div>
</section>
<!-- End What We Offer-->
<!-- Call To Action-->
<section class="rn-section rn-service-c2a" id="rn-page-contact">
    <div class="rn-section-overlayer"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Are you looking for renting your car?</h2>
                <p>Fusce blandit at tortor vitae ultricies. Praesent efficitur feugiat leo id tempus.</p>
                <a class="btn btn-main btn-lg btn-shadow" href="#">Contact US</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action-->
<!-- Clients-->
<section class="rn-section rn-section-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Section Title-->
                <div class="rn-section-title   ">
                    <h2 class="rn-title">What Our Client Say</h2>
                    <p>Inbecilloque elegans errorem concedo etsi electram.</p>
                    <span class="rn-title-bg">Client Review</span>
                </div>

                <div class="rn-testimonials">
                    <div class="rn-testimonials-carousel carousel slide" id="rn-testimonials" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">

                                <!-- Testimonial Item-->
                                <blockquote class="rn-testimonial-item">
                                    <div class="rn-testimonial-author">
                                        <div class="rn-testimonial-author-thumb">
                                            <img src="assets/images/author-1.jpg" alt="John Doe" srcset="assets/images/author-1.jpg 1x, assets/images/author-1@2x.jpg 2x" />
                                        </div>
                                        <div class="rn-testimonial-author-info">
                                            <strong>Katherine Powell</strong>
                                            <p>CEO, Example Inc.</p>
                                        </div>
                                    </div>
                                    <p>Curabitur neque turpis, pellentesque vel semper ut, tempor vel arcu. Nulla facilisi. Phasellus feugiat nunc eget eros varius, et mollis magna elementum.</p>
                                    <footer>
                                        <div class="rn-testimonial-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </footer>
                                </blockquote>
                                <!-- End Testimonial Item-->

                            </div>
                            <div class="carousel-item">

                                <!-- Testimonial Item-->
                                <blockquote class="rn-testimonial-item">
                                    <div class="rn-testimonial-author">
                                        <div class="rn-testimonial-author-thumb">
                                            <img src="assets/images/author-2.jpg" alt="John Doe" srcset="assets/images/author-2.jpg 1x, assets/images/author-2@2x.jpg 2x" />
                                        </div>
                                        <div class="rn-testimonial-author-info">
                                            <strong>Patrick Cox</strong>
                                            <p>CEO, Example Inc.</p>
                                        </div>
                                    </div>
                                    <p>Curabitur neque turpis, pellentesque vel semper ut, tempor vel arcu. Nulla facilisi. Phasellus feugiat nunc eget eros varius, et mollis magna elementum.</p>
                                    <footer>
                                        <div class="rn-testimonial-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </footer>
                                </blockquote>
                                <!-- End Testimonial Item-->

                            </div>
                            <div class="carousel-item">

                                <!-- Testimonial Item-->
                                <blockquote class="rn-testimonial-item">
                                    <div class="rn-testimonial-author">
                                        <div class="rn-testimonial-author-thumb">
                                            <img src="assets/images/author-3.jpg" alt="John Doe" srcset="assets/images/author-3.jpg 1x, assets/images/author-3@2x.jpg 2x" />
                                        </div>
                                        <div class="rn-testimonial-author-info">
                                            <strong>Lauren Anderson</strong>
                                            <p>CEO, Example Inc.</p>
                                        </div>
                                    </div>
                                    <p>Curabitur neque turpis, pellentesque vel semper ut, tempor vel arcu. Nulla facilisi. Phasellus feugiat nunc eget eros varius, et mollis magna elementum.</p>
                                    <footer>
                                        <div class="rn-testimonial-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </footer>
                                </blockquote>
                                <!-- End Testimonial Item-->

                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#rn-testimonials" role="button" data-slide="prev">
                            <i class="fas fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <a class="carousel-control-next" href="#rn-testimonials" role="button" data-slide="next">
                            <i class="fas fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>